node_modules/
third_party/
.DS_Store
*.apk
*.aab
.zig-cache/
zig-out/
.gradle/
.cxx/
local.properties
samples/zero-native/desktop/frontend/node_modules/
samples/zero-native/desktop/frontend/dist/
samples/zero-native/desktop/.zig-cache/
samples/zero-native/desktop/zig-out/
